html {
    font-size: 20px;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

.firstDiv {
    background-color: yellow;
    width: 1440px;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondDiv{
    background-color: cadetblue;
    width: 1440px;
    height: 308px;
}

.secondDiv img {
    margin-top: 25px;
    margin-left: 200px;
    border-radius: 50%;
}

.texto {
    width: 614px;
    height: 186px;
    margin-left: 600px;
    margin-top: -250px;
}

.thirdDiv {
    background-color: green;
    width: 1440px;
    height: 250px;

    display: flex;
    justify-content: space-evenly;
}

.hoobies, .top {
    width: 45%;
}

.lista-hoobies-top5 {
    display: flex;
    justify-content: space-between;
}

.box {
    background-color: gray;
    border: 1px solid pink;
    padding: 27px;
    text-align: left;
    margin: 2px;
    width: 102px;
    height: 150px;
    box-sizing: border-box;
}

#subtitulo-hoobies {
    text-align: right;
    margin-bottom: 10px;
}

#subtitulo-top5 {
    text-align: left;
    margin-bottom: 10px;
}


.fourthDiv {
    background-color: red;
    width: 1440px;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

