html {
    font-size: 20px;
}

h1 {
    font-size: 100px;
}

.firstDiv {
    background-color: yellow;
    width: 100vw;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondDiv{
    background-color: cadetblue;
    width: 100vw;
    height: 250px;
}


.fourthDiv {
    background-color: red;
    width: 100vw;
    height: 50px;
}

.thirdDiv {
    background-color: green;
    width: 100vw;
    height: 250px;
}

/**.box {
    font-size: 2rem;
    height: 100px;
    width: 200px;
    background-color: pink;
    border: solid 5px violet;
    margin: 2px;
}

.lista1 {
    width: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 10px;
}

h2 {
    text-align: rigth;
    font-size: 40px;
    margin-bottom: 10px;
}**/



